<!DOCTYPE html>

{% extends "base.html" %}

<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{{ section.title }}{% endblock %}</title>

</head>

{% block content %}
<body>
    <link rel="stylesheet" href="../../static/css/home_style.css">
    <h1>Home Page</h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis finibus libero. Sed et tempus lacus. Donec tortor dui, scelerisque quis diam eu, faucibus convallis libero. Nullam non augue vel massa vulputate consequat. Proin in aliquam libero. Phasellus laoreet pellentesque mattis. Phasellus posuere luctus volutpat. Nulla feugiat urna sit amet dolor tincidunt, id feugiat mi convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum quis aliquet sapien, sed consequat massa. Proin porttitor augue leo, at elementum risus elementum nec. Pellentesque eget ex ornare, gravida ex sodales, congue sapien. Nunc et nulla posuere, luctus nunc porta, tincidunt nunc. Mauris nec lobortis lectus, id sodales mi. Vivamus nec fermentum massa, vitae accumsan leo. Praesent aliquet nisl odio, vitae dapibus velit accumsan a. </p>

    <p> Aliquam erat volutpat. Sed tristique lectus eget purus ultricies, quis sollicitudin eros accumsan. Suspendisse a consectetur quam. Suspendisse dictum pretium ligula, at tempus tellus iaculis a. Proin vel leo sit amet quam egestas sagittis venenatis blandit velit. Cras auctor risus nunc. Fusce elementum tristique sagittis. Suspendisse non magna est. Cras volutpat nulla nec arcu venenatis ullamcorper. Phasellus blandit congue finibus. Proin tincidunt a urna vel sagittis. Nullam tincidunt, tortor ut tincidunt ultrices, sapien ipsum vulputate ipsum, ac laoreet lacus leo a lorem. In luctus nisl ullamcorper leo ultricies, ut tristique elit iaculis.</p>
</body>
{% endblock %}
</html>
