<!DOCTYPE html>

{% extends "base.html" %}

<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{{ section.title }}{% endblock %}</title>
        <link rel="stylesheet" href="../../static/css/style.css">


</head>

{% block content %}
<body>
    <link rel="stylesheet" href="../../static/css/home_style.css">
    <h1>About Us</h1>
    <p> Team Cool Name Goes Here, having one Computer Science and Engineer major, along
    with three Electrical Engineering majors, two of which are on the computer track and
    one on the electrical track, has a wide range of skills that provides the team with great
    balance and synergy. Using support from other students, professional engineers, our
    sponsor, and professors, will help ensure the completion of this project. </p>
</body>
{% endblock %}
</html>
