<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
</head>
<body>
    <link rel="stylesheet" href="../../static/css/kj_style.css">
    <link rel="stylesheet" href="../../static/css/comments_style.css">

    <div class="container">
        <!-- Image -->
        <img src = "../../static/kjphotos/IMG_3630.jpg" alt="Lulu" class="responsive-img">
        <h1>KJ Skow</h1>
        <h2>About Me:</h2>
        <p class="portfolio-text">I am a student at the University of Iowa studying Electrical Engineering, on the electrical track. 
            I have interned with Collins Aerospace in the Displays Panels group, supporting efforts at the systems 
            level with a display unit’s LCD replacement and corresponding re-qualification and re-certification,
            and at the circuit board level with the design of an Arduino controlled relay interface
            used to bypass key panel interactions, allowing previously manual testing to be
            automated for an entire line of display panels. This experience has allowed me to gain a
            breadth of knowledge, specifically in hardware and schematic design, but also in FPGA
            design and various programming languages such as C and C++.</p>
    </div>


    {% include "comments.html" %}
</body>

{% endblock %}

</html>
