<!DOCTYPE html>

{% extends "base.html" %}

<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ section.title }}{% endblock %}</title>
    </head>

    {% block content %}
    <body>
        <link rel="stylesheet" href="../../static/css/comments_style.css">


        <h1>hi guys</h1>
        <p>my name is sam and i am taking senior design and this is a website and </p>
        <p>coolio</p>

        {% include "comments.html" %}
    </body>

{% endblock %}
</html>