<!DOCTYPE html>

{% extends "base.html" %}

<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ section.title }}{% endblock %}</title>
    </head>

    {% block content %}
    <body>
        <link rel="stylesheet" href="../../static/css/sam_style.css">
        <link rel="stylesheet" href="../../static/css/comments_style.css">

        <h1>Sam Witte</h1>
        <p>I'm attending the University of Iowa pursuing a Bachelor's in Electrical Engineering with a focus in computer hardware!</p>
        <p>I plan to graduate December of 2024, and I'm actively searching for Summer 2024 internships and full time positions for January 2025 onward.</p>

        <p>Sam is studying Electrical Engineering with a focus in computer hardware and minoring in Mathematics. He has interned for SSC Engineering doing electrical contracting work, the TRACERS research group, partnered with NASA, at the University of Iowa, working on lab support and analysis equipment, and will be interning at ispace, Inc. during the Summer of 2024 working as a Software Intern. </p>
        <p>In late 2023, he and his team placed 3rd out of 77 teams at HACKUIOWA, a 48 hour hackathon with their AI-assisted drawing program. He also frequently works on personal projects, such as an avionics platform for high powered model rockets. He has established many strong skills, including, but not limited to, PCB layout, schematic design, prototyping, iterative design, additive manufacturing, 3D modeling, and languages such as Python, C#, C, C++, Java, Javascript, and others.</p>

        {% include "comments.html" %}
    </body>

{% endblock %}
</html>