<!DOCTYPE html>

{% extends "base.html" %}

<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{{ section.title }}{% endblock %}</title>

</head>

{% block content %}
<body>
    {% comment %} <link rel="stylesheet" href="../../static/css/spencer_style.css"> {% endcomment %}
    <link rel="stylesheet" href="../../static/css/comments_style.css">
    <link rel="stylesheet" href="../../static/css/spencer_style.css">
    <body>
    <header>
        <h1>Spencer</h1>
    </header>
    <div class="container">
        <div class="profile-image">
            <img src="your-image.jpg" alt="Spencer">
        </div>
        <div class="profile-text">
            <p>Spencer is studying Computer Science and Engineering. He has spent a summer working
            at Lactalis Dairy, which has given him valuable experience in testing and software
            development management tools. Outside of class, Spencer has experience in software
            development for personal projects, and some skills with API integration. Through these
            avenues he has gained knowledge in many skills such as, C, C++, Java, Python, HTML,
            CSS, Linux/Unix, Ruby and Javascript.</p>
        </div>
    </div>
</body>


    {% include "comments.html" %}

</body>
{% endblock %}
</html>